<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<h1>Input exp</h1>
<form th:action="@{needStr}" th:object="${needStr}" method="post">
    <div>
        <input type="text" id="num1" class="form-control" name="num1">
    </div>
    <div>
        <input type="submit" value="submit"/>
    </div>
</form>
<h3>Result</h3>
<p th:text="${needStr.getResult()}"></p>
</body>
</html>
